html{
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;

    background-color: #222222;

    font-family: Helvetica,Arial,sans-serif;
    font-size: 12pt;
}

main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    background-repeat: no-repeat;
    overflow: hidden;
}

.top {
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: #111111;
    color: white;
}

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}

.top p{
    margin-top: 8px;
    display: inline-block;
    
    font-family: "Times New Roman", sans-serif;
    font-size: 24px;
}

.top nav{
    float: right;
    display: inline-block;
}

.top nav ul{
    margin-top: 9px;
    display: inherit;
    list-style: none;
}

.top nav ul li{
    display: inline;
    padding: 0;
    margin: 0 10px;
}

.top nav ul li a{
    text-decoration: none;
    color: white;
    transition: text-shadow 0.1s;
}

.top nav ul li a:hover{
    text-shadow: white 0 0 0.5em;
}

footer {
    position: fixed;
    bottom: 0;
    height: auto;
    width: 100%;
    z-index: 1;
    opacity: 0;

    background-color: #222222;
    color: white;

    border-radius: 5px 5px 0 0;
    box-shadow: 0 -0.2em 5px #222222;
    transition: opacity 0.4s;
}

footer:hover{
    opacity: 0.65;
}

footer blockquote{
    margin: 2px 0 2px 30px;
    padding: 0;
    font-size: 10pt;
    font-style: italic;
}

footer .copyright{
    margin: 2px;
    padding: 0;
    text-align: center;
    font-size: 8pt;
}

.quotes{
    list-style: none;
    font-family: Helvetica,"宋体","WenQuanYi Micro Hei",Arial,sans-serif;
    z-index: 2;
}

.quotes li{
    position: absolute;
    width: 40px;
    height: 40px;

    border-style: solid;
    border-width: 1px;
    border-color: white;
    background-color: #a6a6a6;
    opacity: 0.65;
}

.quotes li:hover{
    box-shadow: 0 0 2px white;
    background-color: transparent;
    opacity: 1;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1; /* IE6&7 */
}

.card{
    position: relative;
    top: 41px;
    left: -1px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    width: 200px;
    display: none;
    opacity: 0.75;
}

.card:hover{
    opacity: 1;
}

.homura{
    background-color: #37335c;
    border-color: #3d386d;
    color: white;
}

.madoka{
    background-color: #fdd9e8;
    border-color: #f39cc1;
}

.kyoko{
    background-color: #fcc6d1;
    border-color: #e58497;
}

.kyubey{
    border-color: #dc938d;
    background-color: #f5d1ce;
}

.mami{
    border-color: #bd9a63;
    background-color: #fde3ba;
}

.nagisa{
    border-color: #a6937c;
    background-color: #eaddc6;
}

.sayaka{
    border-color: #75add7;
    background-color: #c8e3f7;
}

.card img{
    float: left;
    height: 64px;
    margin: 4px 8px 4px 4px;
    width: 64px;
}

.card p{
    font-size: 10pt;
    line-height: 13.5pt;
    margin: 0;
    padding: 2px 2px 2px 4px;
}

